.cardsComponent {
  height: 242px !important;
  width: 420px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: var(--color-white) !important;
  border: 1px solid #f0f0f0;

  gap: 16px;
  overflow: hidden;
}

.cardsComponent header small {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #555658;
}

.cardsComponent header h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--color-primary);
  margin-top: 10px;
}

.cardsComponent-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
}

.cardsComponent-body small {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #555658;
}

.cardsComponent-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131415;
  width: 380px;
}

.cardsComponent-footer {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.cardsComponent-footer .btn {
  height: 36px;
  width: 64px;
  border: 1px solid #b7bcc3;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  cursor: pointer;
  outline: none;
}

.cardsComponent-footer .edit,
.cardsComponent-footer .edit:hover,
.cardsComponent-footer .edit:focus {
  background: #b7bcc3;

  text-align: center;
  color: #20262f;
}

.cardsComponent-footer .delete,
.cardsComponent-footer .delete:hover,
.cardsComponent-footer .delete:focus {
  background: #555658;
  color: #ffffff;
}

@media (max-width: 567px){
  .cardsComponent {
  height: auto !important;

}
}