* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contain {
  width: 80%;
  margin: auto;
}

@media (max-width: 992px) {
  .contain {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  .contain {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 576px){
  .contain {
    width: 90%;
    margin: auto;
  }
}